.container {
	max-width: 100%;
	margin: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: linear-gradient(#845EC2, #2C73D2, #0081CF, #0089BA, #008E9B, #008F7A);
}

p.bio {
	text-align: center;
	color: white;
}

hr {
	width: 100px;
	height: 2px;
	background-color: skyblue;
	margin-bottom: 50px;
	margin-top: 10px;
}

img.logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

h1.name {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	font-size: larger;
	color: white;
}

span.sologan {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 35px;
	color: white;

}

.social-img ul {
	margin: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 50px;

}

.social-img ul li {
	display: inline;
	background: rgba(204, 204, 204, 0.5);
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: background 150ms case-in-out;
}

.social-img ul li :hover {
	background: whitesmoke;
}

h5 {
	text-align: center;
	color: white;
}

#button1 {
	position: relative;
	background-color: #4CAF50;
	border: none;
	font-size: 28px;
	color: #FFFFFF;
	padding: 20px;
	width: 200px;
	text-align: center;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	margin: auto;
	display: grid;
}

body {
	text-align: center;
}







.background {
	background: linear-gradient(#845EC2, #2C73D2, #0081CF, #0089BA, #008E9B, #008F7A);
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
}


.grid-container {
	display: grid;
	grid-template-columns: 10% auto 20%;
	grid-gap: 10px;

}

.grid-container>div {
	border: 1px solid black;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background: linear-gradient(#845EC2, #2C73D2, #0081CF, #0089BA, #008E9B, #008F7A);


}

#header {

	grid-column: 1/span 3;

}

#menu {
	grid-column: 1/span 1;
	font-size: small;
	text-align: center;


}

#footer {
	grid-column: 1/span 3;

}


/*tablet content*/
@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto 20%;
		grid-gap: 10px;


	}

	#header {
		grid-column: 1/span 2;

	}

	#main1 {
		grid-column: 1/span 2;
		text-align: left;

	}

	#main2 {
		grid-column: 1/span 1;

	}

	#right {
		grid-column: 2/span 1;

	}

	#footer {
		grid-column: 1/ span 2;

	}
}


/*Mobile device*/
@media only screen and (max-width: 500px) {

	.grid-container {
		display: grid;
		grid-template-columns: auto 20%;
		grid-gap: 10px;


	}

	#header {
		grid-column: 1/span 1;

	}

	#main1 {
		grid-column: 1/span 1;


	}

	#main2 {
		grid-column: 1/span 1;

	}

	#right {
		grid-column: 1/span 1;

	}

	#footer {
		grid-column: 1/ span 1;

	}

}

#cinnamon6 {
	width: 40%;
}

#cinnamon1 {
	width: 30%;
}

#cinnamon2 {
	width: 30%;
}

#cinnamon3 {
	width: 60%;
}

#cinnamon4 {
	width: 60%;
}

#cinnamon5 {
	width: 60%;
}

blockquote {
	text-align: center;
}

#ass4 {
	display: inline-block;
	padding: 15px 25px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #0e5a10;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#ass4:hover {
	background-color: #0e5a10
}

#ass4:active {
	background-color: #0e5a10;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#ass5 {
	display: inline-block;
	padding: 15px 25px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #56eb5b;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#ass5:hover {
	background-color: #56eb5b
}

#ass5:active {
	background-color: #56eb5b;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#ass6 {
	display: inline-block;
	padding: 15px 25px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #96fa99;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#ass6:hover {
	background-color: #96fa99
}

#ass6:active {
	background-color: #96fa99;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#ass7 {
	display: inline-block;
	padding: 15px 25px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #a0e7a2;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#ass7:hover {
	background-color: #a0e7a2
}

#ass7:active {
	background-color: #a0e7a2;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}